.barButton:selected {
    -fx-background-color: forestgreen;
    -fx-text-fill: white;
}
.barButton{
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-border-color: green;
    -fx-border-width: 0 0 2 0;
}
.barButton:hover{
    -fx-background-color: darkgray;
    -fx-text-fill: white;
}

.label{
    -fx-border-color: lightgray;
    -fx-background-color: forestgreen;
    -fx-text-fill: white;
}

.label:hover{
    -fx-background-color: limegreen;
}

.greenBuuton{
    -fx-background-color: forestgreen;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 15;
}

.combo-box .cell{
    -fx-text-fill: white;
    -fx-background-color: dimgray;
}
.combo-box .cell:hover{
    -fx-text-fill: white;
    -fx-background-color: forestgreen;
}